*.suo
*.csproj.user
bin
obj
pkg
pkgobj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
*.DotSettings.user
pkgobj
pkg
*.wsp
*.log
*.log*
*.DotSettings
*.userprefs
*.nupkg
packages/*
!packages/repositories.config